.page.theme_dark {
  --h1-color: #db00ff;
  --h1-shadow-color: #ff0070;
  --accent-color: #ff0070;
  --accent-color-rgb: 255, 0, 112;
  --titles-color: #ff0070;
  --subtitles-color: #000028;
  --text-color: #f1b2ce;
  --decorated-elements-color: #ff0070;
  --decorated-elements-color-rgb: 255, 0, 112;
  --cover-image: url(../images/cover-image-dark.png);
 
  .header__decoration-element {
    display: block;
}
}