.page.theme_light {
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --accent-color-rgb: 255, 141, 203;
  --h1-color: #ffc2e6;
  --h1-shadow: #ff0070;
  --main-color: #353430;
  --main-color-rgb: 53, 52, 48;
  --cover-image: url(../images/cover-image-light.png);

  .header__decoration-element {
    display: none;
  }

  .header__title {
    text-shadow: 4px 4px 0 var(--h1-shadow);
  }

  .content__title {
    color: var(--main-color);
  }

  .header__theme-menu-button {
    color: var(--main-color);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--main-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(var(--main-color-rgb), 0.4);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--main-color);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --accent-color-rgb: 255, 141, 203;
    --h1-color: #ffc2e6;
    --h1-shadow: #ff0070;
    --main-color: #353430;
    --main-color-rgb: 53, 52, 48;
    --cover-image: url(../images/cover-image-light.png);
  }

  .header__decoration-element {
    display: none;
  }

  .header__title {
    text-shadow: 4px 4px 0 var(--h1-shadow);
  }

  .content__title {
    color: var(--main-color);
  }

  .header__theme-menu-button {
    color: var(--main-color);
  }

  .header__theme-menu-button:focus {
    outline: none;
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--main-color);
  }

  .header__theme-menu-button:hover {
    border: 1px solid rgba(var(--main-color-rgb), 0.4);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--main-color);
  }
}
