/* Спасибо за развернутые ответы, исправил.

Насчет предыдущего замечания в этой секции про вложенность правил в селектор

.page.theme_light {
  .header__decoration-element {
    display: none;
  }
}
  - вкладывать так селекторы подобные этому в более общий селектор
  так ведь можно делать?
  это не является ошибкой в дальнейшем?  */

.page.theme_light {
  --h1-color: #ffc2e6;
  --h1-shadow-color: #ff0070;
  --accent-color: #ff8dcb;
  --accent-color-rgb: 255, 141, 203;
  --titles-color: #353430;
  --subtitles-color: #353430;
  --text-color: #353430;
  --decorated-elements-color: #353430;
  --decorated-elements-color-rgb: 53, 52, 48;
  --cover-image: url(../images/cover-image-light.png);

  .header__decoration-element {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --h1-color: #ffc2e6;
    --h1-shadow-color: #ff0070;
    --accent-color: #ff8dcb;
    --accent-color-rgb: 255, 141, 203;
    --titles-color: #353430;
    --subtitles-color: #353430;
    --text-color: #353430;
    --decorated-elements-color: #353430;
    --decorated-elements-color-rgb: 53, 52, 48;
    --cover-image: url(../images/cover-image-light.png);
  }

  .header__decoration-element {
      display: none;
  }
}